.burger {
  --height: inherit;
  height: var(--height);
  min-width: calc(1.2 * var(--height));
  width: calc(1.2 * var(--height));
  cursor: pointer;
  position: relative;
}

.burger div {
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  height: calc(var(--height) / 5);
  background-color: var(--color-fg, #333333);
  border-radius: 10000px;
}

.burger div:nth-child(1) {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.burger div:nth-child(2) {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.burger div:nth-child(3) {
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
}

.burger.active div:nth-child(1) {
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
}

.burger.active div:nth-child(3) {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

@media (hover: hover) {
  .burger:hover div,
  .burger:focus div {
    background-color: var(--color-fg-focus, #111111);
  }
  .burger:hover div:nth-child(1),
  .burger:focus div:nth-child(1) {
    -webkit-transform: scaleX(0.8);
            transform: scaleX(0.8);
  }
  .burger:hover div:nth-child(3),
  .burger:focus div:nth-child(3) {
    -webkit-transform: translateY(200%) scaleX(0.8);
            transform: translateY(200%) scaleX(0.8);
  }
  .burger.active div:nth-child(1) {
    -webkit-transform: scaleX(0.8) translateY(calc(200%));
            transform: scaleX(0.8) translateY(calc(200%));
  }
  .burger.active div:nth-child(3) {
    -webkit-transform: scaleX(0.8) translateY(0%);
            transform: scaleX(0.8) translateY(0%);
  }
}

@-webkit-keyframes op {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes op {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#sidebar {
  -webkit-transform: none;
          transform: none;
  z-index: 10;
  position: fixed;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#sidebar .background {
  position: fixed;
  opacity: 0;
  z-index: 1;
  pointer-events: none;
}

#sidebar.active ul {
  max-width: calc(15rem + 4rem);
}

#sidebar.active span {
  -webkit-animation: op 0.2s 0.2s forwards;
          animation: op 0.2s 0.2s forwards;
}

#sidebar.active .burger + span {
  opacity: 1;
  -webkit-animation: none;
          animation: none;
}

#sidebar.active .background {
  opacity: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: all;
}

#sidebar ul {
  -webkit-transform: none;
          transform: none;
  -webkit-transition: all 0.2s, min-width 0.4s;
  transition: all 0.2s, min-width 0.4s;
  position: fixed;
  top: 0;
  left: 0;
  max-width: 4rem;
  background-color: var(--color-alt-bg, #dddddd);
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: calc(4rem * 1 / 8) 0;
}

#sidebar ul li {
  --height: calc(4rem * 1 / 2.4);
  list-style: none;
}

#sidebar ul li a {
  color: var(--color-fg, #333333);
  text-decoration: none;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

#sidebar ul li a i.material-icons {
  font-size: calc(4rem * 1 / 2);
  margin: calc(4rem * 1 / 8) calc(4rem * 1 / 4);
  margin-right: 0;
}

#sidebar ul li a .burger {
  font-size: calc(4rem * 1 / 3);
  margin: calc(4rem * 1 / 8) calc(4rem * 1 / 4);
  margin-right: 0;
}

#sidebar ul li a span {
  background-color: var(--color-alt-bg, #dddddd);
  padding-left: calc(4rem * 1 / 2);
  font-size: calc(4rem * 1.5 / 4);
  height: calc(4rem * 3 / 4);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 15rem;
  opacity: 0;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform-origin: left;
          transform-origin: left;
  border-radius: 0 0.5rem 0.5rem 0;
}

#sidebar ul li a:hover,
#sidebar ul li a .burger:hover {
  background-color: var(--color-alt-bg-hover, #dddddd);
}

#sidebar ul li a:hover span,
#sidebar ul li a .burger:hover span {
  background-color: var(--color-alt-bg-hover, #dddddd);
  opacity: 1;
  pointer-events: all;
}

#sidebar .divider {
  margin: auto 0;
}

.langScreen {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100;
}

.langScreen ul {
  background-color: var(--color-alt-bg, #dddddd);
  border-radius: 0.5rem;
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 20rem;
  -webkit-box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3);
          box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3);
}

.langScreen ul span {
  font-size: 2rem;
  font-weight: 100;
  padding-bottom: 1rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.langScreen ul li {
  list-style: none;
  padding: 1rem 2rem;
  cursor: pointer;
  font-size: 1.5rem;
}

.langScreen ul li:hover {
  background-color: var(--color-alt-bg-hover, #dddddd);
}

@-webkit-keyframes to-top {
  from {
    -webkit-transform: translateY(calc(var(--top) * var(--p100)));
            transform: translateY(calc(var(--top) * var(--p100)));
  }
  to {
    -webkit-transform: translateY(calc(var(--R) * -1px));
            transform: translateY(calc(var(--R) * -1px));
  }
}

@keyframes to-top {
  from {
    -webkit-transform: translateY(calc(var(--top) * var(--p100)));
            transform: translateY(calc(var(--top) * var(--p100)));
  }
  to {
    -webkit-transform: translateY(calc(var(--R) * -1px));
            transform: translateY(calc(var(--R) * -1px));
  }
}

@-webkit-keyframes from-bottom {
  from {
    -webkit-transform: translateY(calc(var(--p100) + var(--R) * 1px));
            transform: translateY(calc(var(--p100) + var(--R) * 1px));
  }
  to {
    -webkit-transform: translateY(calc(var(--R) * -1px));
            transform: translateY(calc(var(--R) * -1px));
  }
}

@keyframes from-bottom {
  from {
    -webkit-transform: translateY(calc(var(--p100) + var(--R) * 1px));
            transform: translateY(calc(var(--p100) + var(--R) * 1px));
  }
  to {
    -webkit-transform: translateY(calc(var(--R) * -1px));
            transform: translateY(calc(var(--R) * -1px));
  }
}

#bubbles {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  --p100: calc(100vh);
}

#bubbles .bubble {
  will-change: transform;
  position: absolute;
  background-color: #3d405f;
  border-radius: 100000px;
  opacity: var(--opacity);
  width: calc(var(--R) * 1px);
  height: calc(var(--R) * 1px);
  left: calc(var(--left) * (100% - var(--R) * 1px));
  top: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  -webkit-animation: to-top calc(var(--top) * calc(var(--speed) * calc(var(--speed) * 80s))) linear, from-bottom calc(var(--speed) * calc(var(--speed) * 80s)) calc(var(--top) * calc(var(--speed) * calc(var(--speed) * 80s))) infinite linear;
          animation: to-top calc(var(--top) * calc(var(--speed) * calc(var(--speed) * 80s))) linear, from-bottom calc(var(--speed) * calc(var(--speed) * 80s)) calc(var(--top) * calc(var(--speed) * calc(var(--speed) * 80s))) infinite linear;
}

.accent-bubble {
  position: absolute;
  background-color: #c16059;
  border-radius: 100000px;
}

#home .accent-bubble:nth-of-type(2) {
  height: 80vmin;
  width: 80vmin;
  top: -20vmin;
  left: -45vmin;
}

#home .accent-bubble:nth-of-type(3) {
  height: 80vmin;
  width: 80vmin;
  bottom: -65vmin;
  left: 0vh;
}

@media (prefers-reduced-motion: reduce) {
  #bubbles .bubble {
    -webkit-transform: translateY(calc(var(--top) * var(--p100)));
            transform: translateY(calc(var(--top) * var(--p100)));
    -webkit-animation: none;
            animation: none;
  }
}

:root {
  --color-bg: #eeeeee;
  --color-alt-bg: #dddddd;
}

#about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

#about-me .accent-bubble:nth-of-type(1) {
  right: -25vmin;
  top: -10vmin;
  width: 50vmin;
  height: 50vmin;
}

#about-me .accent-bubble:nth-of-type(2) {
  bottom: -40vmin;
  width: 50vmin;
  height: 50vmin;
}

#about-me .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  width: 90%;
  max-width: 50rem;
}

#about-me .container .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

#about-me .container .profile img {
  margin: 0.5rem;
  margin-right: 1rem;
  border-radius: 2000px;
}

#about-me .container .profile h1 {
  line-height: 1.2;
}

#about-me .container .profile h3 {
  line-height: 1.2;
  font-weight: 500;
}

#about-me .container .charts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#about-me .container .charts .chart {
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.5rem;
  width: 7.5rem;
  height: 7.5rem;
  background-color: var(--color-alt-bg, #dddddd);
  border-radius: 2000px;
  position: relative;
}

#about-me .container .charts .chart::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;
  border: 0.5rem #c16059 solid;
  border-radius: 2000px;
}

#about-me .container .charts .chart div {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-clip-path: polygon(50% 0, 0 0, 0 100%, 50% 100%);
          clip-path: polygon(50% 0, 0 0, 0 100%, 50% 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about-me .container .charts .chart div::after {
  content: "";
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  border-radius: 0 2000px 2000px 0;
  background-color: var(--color-alt-bg, #dddddd);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: rotate(calc(var(--deg) * 1deg));
          transform: rotate(calc(var(--deg) * 1deg));
}

#about-me .container .charts .chart span {
  z-index: 1;
}

#about-me .container .about h2 {
  font-size: 3rem;
}

#about-me .container .about span {
  font-family: "PT Serif", serif;
  font-size: 1.5rem;
}

@-webkit-keyframes arrows {
  from {
    opacity: 1;
  }
  45%,
  55% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes arrows {
  from {
    opacity: 1;
  }
  45%,
  55% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --vh: 1vh;
  --vw: 1vw;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: x proximity;
      scroll-snap-type: x proximity;
}

body {
  background-color: #2b2d42;
  color: var(--color-fg, #333333);
  font-family: "Roboto slab", sans-serif;
}

@media (max-width: 500px) {
  html {
    font-size: 10px;
  }
}

main {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main > div {
  padding-left: 4rem;
  position: relative;
  min-width: 100%;
  height: 100%;
  scroll-snap-align: start;
  background: #2b2d42;
}

main > div:nth-child(1) {
  background: #2b2d42;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  padding: 2rem 1rem;
  padding-left: 5rem;
}

main #projects > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 1rem;
  height: 100%;
  background-color: var(--color-bg, #eeeeee);
}

@media (max-width: 500px) {
  main #projects {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem 2rem;
    padding-left: 5rem;
  }
  main #projects > div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 1rem 0;
  }
}

.scroller {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.scroller div {
  width: calc(var(--height) * var(--vw) / var(--vh));
  height: calc(100 * var(--vh));
}

.center {
  position: relative;
  font-weight: 400;
  z-index: 1;
  color: white;
}

.center h1 {
  font-size: 6rem;
  font-weight: 400;
  padding: 1rem 0;
}

.center h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

.center .accent-bubble {
  top: -4rem;
  right: -2.5rem;
  height: 15rem;
  width: 15rem;
  z-index: -1;
}

html,
body {
  overflow-y: hidden;
}

.arrow span {
  pointer-events: none;
  color: white;
  position: absolute;
  left: calc(50% + 4rem/ 2);
  bottom: 3vh;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
}

.arrow span i.material-icons {
  font-size: inherit;
}

.arrow .scroll-down {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.arrow .scroll-down i.material-icons {
  margin-top: -0.5rem;
  font-size: 2.5rem;
}

.arrow .swipe-right {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  opacity: 1;
}

.arrow .swipe-right i {
  margin: 0 -0.5rem;
  -webkit-animation: arrows 5s ease-in-out infinite;
          animation: arrows 5s ease-in-out infinite;
}

.arrow .swipe-right i:first-child {
  margin-left: 0;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.arrow .swipe-right i:nth-child(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.arrow .swipe-right i:nth-child(3) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@media (pointer: fine) {
  html,
  body {
    overflow-y: unset;
  }
  main {
    position: fixed;
  }
  .scroller {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .scroller div {
    height: var(--height);
    width: 0;
  }
  .arrow {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .arrow .scroll-down {
    opacity: 1;
  }
  .arrow .swipe-right {
    opacity: 0;
  }
  .arrows {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10;
    margin: 1rem;
  }
  .arrows button {
    -webkit-box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.15);
            box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    outline: none;
    width: 3rem;
    height: 3rem;
    color: white;
    border: 0;
    font-size: 2rem;
    margin: 0.5rem 0;
    margin-right: 0.5rem;
    border-radius: 1000px;
    background-color: #c16059;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
  }
  .arrows button:hover {
    background-color: #c8726c;
  }
}
/*# sourceMappingURL=main.css.map */