@import "../scss/colors";
@import "../scss/navigation";
@import "../scss/languages";
@import "../scss/bubbles";
@import "../scss/themes";

@keyframes arrows {
  from {
    opacity: 1;
  }
  45%,
  55% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --vh: 1vh;
  --vw: 1vw;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
  scroll-snap-type: x proximity;
}

body {
  background-color: #2b2d42;
  color: $color-fg;
  font-family: "Roboto slab", sans-serif;
  --scroll: 0;
}

@media (max-width: 500px) {
  html {
    font-size: 10px;
  }
}

main {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  & > div {
    padding-left: $nav-width;
    position: relative;
    min-width: 100%;
    height: 100%;
    //scroll-snap-align: start;
    background: #2b2d42;

    &:nth-child(1) {
      background: #2b2d42;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  #projects {
    display: flex;
    justify-content: stretch;
    padding: $padding $padding/2;
    padding-left: $nav-width + $padding/2;
    & > div {
      z-index: 3;
      flex: 1;
      margin: 0 $padding/2;
      height: 100%;
      background-color: $color-bg;
    }
  }
}
@media (max-width: 500px) {
  main #projects {
    flex-direction: column;

    padding: $padding/2 $padding;
    padding-left: $nav-width + $padding/2;

    & > div {
      flex: 1;
      margin: $padding/2 0;
    }
  }
}

.scroller {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 0;
  display: flex;
  flex-direction: row;
  div {
    width: calc(var(--height) * var(--vw) / var(--vh));
    height: calc(100 * var(--vh));
  }
}

.center {
  position: relative;
  font-weight: 400;
  z-index: 1;
  color: white;
  h1 {
    font-size: 6rem;
    font-weight: 400;
    padding: 1rem 0;
  }
  h3 {
    font-size: 1.5rem;
    font-weight: 400;
  }
  .accent-bubble {
    top: -4rem;
    right: -2.5rem;
    height: 15rem;
    width: 15rem;
    z-index: -1;
  }
}

html,
body {
  overflow-y: hidden;
}
.arrow {
  span {
    pointer-events: none;
    color: white;
    position: absolute;
    left: calc(50% + #{$nav-width}/ 2);
    bottom: 3vh;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    font-size: 2rem;
    i.material-icons {
      font-size: inherit;
    }
  }

  .scroll-down {
    align-items: center;
    opacity: 0;
    flex-direction: column;
    i.material-icons {
      margin-top: -0.5rem;
      font-size: 2.5rem;
    }
  }
  .swipe-right {
    align-items: flex-end;
    opacity: 1;
    i {
      margin: 0 -0.5rem;
      animation: arrows 5s ease-in-out infinite;
      &:first-child {
        margin-left: 0;
        animation-delay: 0s;
      }
      &:nth-child(2) {
        animation-delay: 0.5s;
      }

      &:nth-child(3) {
        animation-delay: 1s;
      }
    }
  }
}

@media (pointer: fine) {
  html,
  body {
    overflow-y: unset;
  }

  main {
    position: fixed;
  }
  .scroller {
    flex-direction: column;
    width: 100%;
    div {
      height: var(--height);
      width: 0;
    }
  }
  .arrow {
    user-select: none;
    .scroll-down {
      opacity: 1;
    }

    .swipe-right {
      opacity: 0;
    }
  }
  .arrows {
    user-select: none;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10;
    margin: 1rem;
    button {
      cursor: pointer;
      outline: none;
      width: 3rem;
      height: 3rem;
      color: white;
      border: 0;
      font-size: 2rem;
      margin: 0.5rem 0;
      margin-right: 0.5rem;
      border-radius: 1000px;
      background-color: $color-accent;
      transition: background-color 0.2s;
      &:hover {
        background-color: lighten($color-accent, 2.5%);
      }
    }
  }
}
