@import "../scss/colors";
@import "../scss/navigation";
@import "../scss/languages";
@import "../scss/bubbles";
@import "../scss/themes";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --vh: 1vh;
  --vw: 1vw;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: $color-bg;
  color: $color-fg;
  font-family: "Lato", sans-serif;
}

@media (max-width: 500px) {
  html {
    font-size: 10px;
  }
}

main {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  & > div {
    padding-left: $nav-width;
    position: relative;
    min-width: 100%;
    height: 100%;
    &:nth-child(1) {
      background: #305a68;
    }
    &:nth-child(2) {
      background: linear-gradient(90deg, #153081, #233597);
    }
    &:nth-child(3) {
      background-color: darkcyan;
    }
  }
  #projects {
    display: flex;
    justify-content: stretch;
    padding: $padding $padding/2;
    padding-left: $nav-width + $padding/2;
    & > div {
      flex: 1;
      margin: 0 $padding/2;
      height: 100%;
      background-color: $color-bg;
    }
  }
}
@media (max-width: 500px) {
  main #projects {
    flex-direction: column;

    padding: $padding/2 $padding;
    padding-left: $nav-width + $padding/2;

    & > div {
      flex: 1;
      margin: $padding/2 0;
    }
  }
}

.scroller {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 0;
  display: flex;
  flex-direction: row;
  div {
    width: calc(var(--height) * var(--vw) / var(--vh));
    height: calc(100 * var(--vh));
  }
}

html,
body {
  overflow-y: hidden;
}

@media (pointer: fine) {
  html,
  body {
    overflow-y: unset;
  }

  main {
    position: fixed;
  }
  .scroller {
    flex-direction: column;
    width: 100%;
    div {
      height: var(--height);
      width: 0;
    }
  }
}
