@keyframes to-top {
  from {
    transform: translateY(calc(var(--top) * var(--p100)));
  }
  to {
    transform: translateY(calc(var(--R) * -1px));
  }
}

@keyframes from-bottom {
  from {
    transform: translateY(calc(var(--p100) + var(--R) * 1px));
  }
  to {
    transform: translateY(calc(var(--R) * -1px));
  }
}

#bubbles {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  --p100: calc(100vh);
  .bubble {
    $curve: linear;
    //cubic-bezier(0.4, 0, 0.2, 1);
    $time: calc(var(--speed) * 80s);
    $speed: calc(var(--speed) * #{$time});
    $delay: calc(var(--top) * #{$speed});

    will-change: transform;
    position: absolute;
    background-color: #3d405f;
    border-radius: 100000px;

    opacity: var(--opacity);
    width: calc(var(--R) * 1px);
    height: calc(var(--R) * 1px);
    left: calc(var(--left) * (100% - var(--R) * 1px));
    top: 0;

    transition: opacity 0.2s;
    animation: to-top $delay $curve, from-bottom $speed $delay infinite $curve;
  }
}
.accent-bubble {
  position: absolute;
  background-color: $color-accent;
  border-radius: 100000px;
}

#home .accent-bubble:nth-of-type(2) {
  height: 80vmin;
  width: 80vmin;

  top: -20vmin;
  left: -45vmin;
}
#home .accent-bubble:nth-of-type(3) {
  height: 80vmin;
  width: 80vmin;

  bottom: -65vmin;
  left: 0vh;
}

@media (prefers-reduced-motion: reduce) {
  #bubbles .bubble {
    transform: translateY(calc(var(--top) * var(--p100)));
    animation: none;
  }
}
