$color-bg: var(--color-bg, #eeeeee);
$color-alt-bg: var(--color-alt-bg, #dddddd);
$color-alt-bg-hover: var(--color-alt-bg-hover, #dddddd);
$color-fg: var(--color-fg, #333333);
$color-fg-focus: var(--color-fg-focus, #111111);
$color-accent: #c16059;
