@import 'colors';
@import 'values';
@import 'hamburger';

@keyframes op {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

a {
  color: #fa8279;
}

button {
  font-family: inherit;
  text-transform: none;
  overflow: visible;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  -webkit-appearance: button;
  background-color: transparent;
  border: none;
  &:focus {
    outline: none;
  }
}

#sidebar {
  transform: none;
  z-index: 10;
  .background {
    position: fixed;
    opacity: 0;
    z-index: 1;
    pointer-events: none;
  }
  &.active {
    ul {
      max-width: calc(15rem + #{$nav-width});
    }
    span {
      animation: op 0.2s 0.2s forwards;
    }
    .burger + span {
      opacity: 1;
      animation: none;
    }
    .background {
      opacity: 1;
      width: 100%;
      height: 100%;
      background-color: rgba(black, 0.5);
      pointer-events: all;
    }
  }
  position: fixed;
  height: 100%;
  user-select: none;

  ul {
    transform: none;
    transition: all 0.2s, min-width 0.4s;
    position: fixed;
    top: 0;
    left: 0;
    max-width: $nav-width;
    background-color: $color-alt-bg;
    z-index: 10;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: calc(#{$nav-width} * 1 / 8) 0;
    li {
      --height: calc(#{$nav-width} * 1 / 2.4);
      list-style: none;

      a,
      button {
        color: $color-fg;
        text-decoration: none;
        white-space: nowrap;
        display: flex;
        justify-content: start;
        align-items: center;
        transition: all 0.2s;
        cursor: pointer;

        i.material-icons {
          font-size: calc(#{$nav-width} * 1 / 2);
          margin: calc(#{$nav-width} * 1 / 8) calc(#{$nav-width} * 1 / 4);
          margin-right: 0;
        }
        .burger {
          font-size: calc(#{$nav-width} * 1 / 3);
          margin: calc(#{$nav-width} * 1 / 8) calc(#{$nav-width} * 1 / 4);
          margin-right: 0;
        }
        span {
          background-color: $color-alt-bg;
          padding-left: calc(#{$nav-width} * 1 / 2);
          font-size: calc(#{$nav-width} * 1.5 / 4);
          height: calc(#{$nav-width} * 3 / 4);
          transition: all 0.2s;
          align-items: center;
          min-width: 15rem;
          opacity: 0;
          pointer-events: none;
          display: flex;
          transform-origin: left;
          border-radius: 0 0.5rem 0.5rem 0;
        }
        &:hover,
        &:focus,
        .burger:hover {
          background-color: $color-alt-bg-hover;
          span {
            background-color: $color-alt-bg-hover;
            opacity: 1;
            pointer-events: all;
          }
        }
      }
    }
  }

  .divider {
    margin: auto 0;
  }
}
